body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image:url('ds.jpg');
background-repeat:no-repeat;
background-attachment:fixed;
background-size:100% 100%;
     background-attachment: fixed;
}
.navbar {
  background-color: #333;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar img {
  height: 40px;
  margin-right: 20px;
  border-radius: 5px;
}

.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
   display: flex; 
  align-items: center;
}

.navbar li {
  display: inline-block;
  margin-right: 20px;
}

.navbar li:last-child {
  margin-right: 0;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

.main {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #007bff;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

thead {
    background-color: #007bff;
    color: #ffffff;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    font-weight: bold;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

tbody tr:hover {
    background-color: #e0e0e0;
}
